<section id="sobre-mi" class="sobremi font-sans py-32 px-6 text-center">
  <h2 class="text-[2.5rem] mb-4">
    <b> Sobre <b class="text-[#005d7a]">Mí</b></b>
  </h2>

  <p
    class="sobremi-texto max-w-200 mt-6 mx-auto mb-12 text-[#666] text-[large]"
  >
    Soy Alicia, desarrolladora web enfocada en crear experiencias digitales
    claras y funcionales. Trabajo con HTML5, CSS, PHP y Astro, cuidando tanto el
    diseño como la estructura del código. Me motiva aprender de forma constante
    y construir proyectos bien pensados.
  </p>

  <div class="contenedor-sobremi max-w-300 m-auto pt-0 pb-6 text-left">
    <div class="algomas grid gap-6 grid-cols-1 sm:grid-cols-2 lg:grid-cols-4">
      <div
        class="box text-black border border-[#c8c8c8] hover:border-[#005d7a] hover:shadow-[0_0_30px_#66666641] transform hover:-translate-y-1.25 transition-all duration-300 ease-in-out p-6 rounded-lg bg-white flex flex-col h-full"
      >
        <img src="/Frontend.svg" class="w-13 mb-2" />
        <p class="text-[#005d7a]"><b>Frontend</b></p>
        <div class="mini-box flex flex-wrap gap-2 mt-3">
          <p
            class="text-sm rounded-[10px] bg-[#e3e3e3] px-2.5 py-1 hover:bg-[#005d7a] hover:text-white cursor-default transition-colors"
          >
            HTML5
          </p>
          <p
            class="text-sm rounded-[10px] bg-[#e3e3e3] px-2.5 py-1 hover:bg-[#005d7a] hover:text-white cursor-default transition-colors"
          >
            CSS
          </p>
          <p
            class="text-sm rounded-[10px] bg-[#e3e3e3] px-2.5 py-1 hover:bg-[#005d7a] hover:text-white cursor-default transition-colors"
          >
            Astro
          </p>
          <p
            class="text-sm rounded-[10px] bg-[#e3e3e3] px-2.5 py-1 hover:bg-[#005d7a] hover:text-white cursor-default transition-colors"
          >
            Responsive Design
          </p>
        </div>
      </div>

      <div
        class="box text-black border border-[#c8c8c8] hover:border-[#005d7a] hover:shadow-[0_0_30px_#66666641] transform hover:-translate-y-1.25 transition-all duration-300 ease-in-out p-6 rounded-lg bg-white flex flex-col h-full"
      >
        <img src="/Backend.svg" class="w-13 mb-2" />
        <p class="text-[#005d7a]"><b>Backend</b></p>
        <div class="mini-box flex flex-wrap gap-2 mt-3">
          <p
            class="text-sm rounded-[10px] bg-[#e3e3e3] px-2.5 py-1 hover:bg-[#005d7a] hover:text-white cursor-default transition-colors"
          >
            PHP
          </p>
          <p
            class="text-sm rounded-[10px] bg-[#e3e3e3] px-2.5 py-1 hover:bg-[#005d7a] hover:text-white cursor-default transition-colors"
          >
            Gestión de formularios
          </p>
        </div>
      </div>

      <div
        class="box text-black border border-[#c8c8c8] hover:border-[#005d7a] hover:shadow-[0_0_30px_#66666641] transform hover:-translate-y-1.25 transition-all duration-300 ease-in-out p-6 rounded-lg bg-white flex flex-col h-full"
      >
        <img src="/Base-dato.svg" class="w-13 mb-2" />
        <p class="text-[#005d7a]"><b>Bases de Datos</b></p>
        <div class="mini-box flex flex-wrap gap-2 mt-3">
          <p
            class="text-sm rounded-[10px] bg-[#e3e3e3] px-2.5 py-1 hover:bg-[#005d7a] hover:text-white cursor-default transition-colors"
          >
            MySQL
          </p>
          <p
            class="text-sm rounded-[10px] bg-[#e3e3e3] px-2.5 py-1 hover:bg-[#005d7a] hover:text-white cursor-default transition-colors"
          >
            Diseño de Base de Datos
          </p>
          <p
            class="text-sm rounded-[10px] bg-[#e3e3e3] px-2.5 py-1 hover:bg-[#005d7a] hover:text-white cursor-default transition-colors"
          >
            Consultas SQL Básicas
          </p>
        </div>
      </div>

      <div
        class="box text-black border border-[#c8c8c8] hover:border-[#005d7a] hover:shadow-[0_0_30px_#66666641] transform hover:-translate-y-1.25 transition-all duration-300 ease-in-out p-6 rounded-lg bg-white flex flex-col h-full"
      >
        <img src="/Herramienta.svg" class="w-13 mb-2" />
        <p class="text-[#005d7a]"><b>Herramientas</b></p>
        <div class="mini-box flex flex-wrap gap-2 mt-3">
          <p
            class="text-sm rounded-[10px] bg-[#e3e3e3] px-2.5 py-1 hover:bg-[#005d7a] hover:text-white cursor-default transition-colors"
          >
            Visual Studio Code
          </p>
          <p
            class="text-sm rounded-[10px] bg-[#e3e3e3] px-2.5 py-1 hover:bg-[#005d7a] hover:text-white cursor-default transition-colors"
          >
            GitHub
          </p>
          <p
            class="text-sm rounded-[10px] bg-[#e3e3e3] px-2.5 py-1 hover:bg-[#005d7a] hover:text-white cursor-default transition-colors"
          >
            LinkedIn
          </p>
          <p
            class="text-sm rounded-[10px] bg-[#e3e3e3] px-2.5 py-1 hover:bg-[#005d7a] hover:text-white cursor-default transition-colors"
          >
            Hosting básico
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
