<section class="inicio font-sans py-50 px-6 text-center">
  <div class="inicio-contenedor flex justify-center mx-8">
    <p
      class="bienvenida bg-[#7ed2e93e] text-[#005d7a] px-6 py-2.5 rounded-[30px] text-[1.1rem]"
    >
      ¡Bienvenido a mi porfolio!
    </p>
  </div>

  <h2 class="quiensoy text-[3.5rem] my-1">
    <b>Soy <b class="nombre text-[#005d7a]">Alicia Alonso</b></b>
  </h2>

  <div class="descripcion max-w-2xl mt-0 mx-auto mb-8 text-[#666] text-lg">
    <p class="quesoy m-2 text-[#666] text-[23px]">
      Desarrolladora de aplicaciones web
    </p>
    <p>
      Diseño experiencias digitales cuidando cada detalle, buscando siempre el
      equilibrio entre lo visual y lo funcional.
    </p>
  </div>
  <div class="botones flex flex-col gap-4 items-center">
    <div class="botones-redessociales flex gap-4 flex-wrap justify-center">
      <a
        href="https://github.com/alici69b"
        target="_blank"
        class="inline-flex items-center gap-2 px-6 py-2.5 rounded-[30px] no-underline text-white bg-[#005d7a] transition-all duration-300 ease-in-out whitespace-nowrap hover:bg-[#005d7a] hover:text-white hover:scale-105"
        aria-label="Perfil de GitHub"
      >
        <img src="/github-svgrepo-com.svg"  class="w-4.5 h-4.5 " />
        GitHub
      </a>

      <a
        href="https://www.linkedin.com/in/alicia-alonso-aguaded-5236933a3/"
        target="_blank"
        class="inline-flex items-center gap-2 px-6 py-2.5 rounded-[30px] no-underline text-[#005d7a] border border-[#005d7a] transition-all duration-300 ease-in-out whitespace-nowrap hover:bg-[#005d7a] hover:text-white hover:scale-105 "
        aria-label="Perfil de Linkedin"
      >
        <img src="/linkedin-svgrepo-com.svg"   class="w-4.5 h-4.5" />
        LinkedIn
      </a>
    </div>

    <a
      class="btn cv inline-flex items-center gap-2 px-6 py-2.5 rounded-[30px] no-underline text-[0.95rem] text-[#333] bg-[#f2f2f2] transition-all duration-300 ease-in-out whitespace-nowrap hover:bg-[#7ed2e93e] hover:text-[#005d7a] hover:scale-105 mt-2"
      href="/CURRICULUM VITAE.pdf"
      download="/ALONSO_AGUADED_ALICIA_CURRICULUMVITAE.pdf"
      target="_blank"
      aria-label="Curriculum vitae"
    >
      <img src="/curriculum-resume-svgrepo-com.svg"   class="w-4.5 h-4.5" />
      Descargar CV
    </a>
  </div>
  <div class="flecha flex justify-center mt-6"><img src="/bottom-svgrepo-com.svg" class="w-15.5 h-20 justify-center items-center animate-bounce" /></div>
</section>
